        <div class='span-16'> 
<div class='navi right'></div> 
<div class='scrollable' id='marquee-api'> 
<div class='items'> 
<div> 
<h2>Simple answers to hard questions</h2> 
<img class='right monkey' src='/images/primates/primate01.png' /> 
<p> 
We do the difficult stuff with data so that you can focus on other things.
<br /> 
<a class='nowrap' href='/apis/features-and-pricing'>Sign up for the API now »</a> 
</p> 
</div> 
<div> 
<h2>Instant</h2> 
<img class='right monkey' src='/images/primates/primate11.png' /> 
<p> 
Have your application up and running in just minutes.
<br />Check
out our
<a href='/apis/tutorial'>Quickstart Tutorial</a> 
and
<a href='/apis/code-examples'>Code Examples</a>.
</p> 
</div> 
<div> 
<h2>Simple</h2> 
<img class='right monkey' src='/images/primates/primate03.png' /> 
<p> 
Easy to integrate API.  RESTful calls (and libraries for major languages soon to come).
<br /> 
<a class='nowrap' href='/apis/features-and-pricing'>Sign up for the API now »</a> 
</p> 
</div> 
<div> 
<h2>Hosted</h2> 
<img class='right monkey' src='/images/primates/primate04.png' /> 
<p> 
Why worry about the costs and headaches of hosting your own data?  We'll do it for you.
<br /> 
<a class='nowrap' href='/apis/features-and-pricing'>Sign up for the API now »</a> 
</p> 
</div> 
<div> 
<h2>Up-to-date</h2> 
<img class='right monkey' src='/images/primates/primate05.png' /> 
<p> 
No need to keep scraping.  No importing, no exporting - just works.
<br /> 
<a class='nowrap' href='/apis/features-and-pricing'>Sign up for the API now »</a> 
</p> 
</div> 
<div> 
<h2>Supported</h2> 
<img class='right monkey' src='/images/primates/primate06.png' /> 
<p> 
Lower your operating costs by letting us help you.
<br /> 
<a class='nowrap' href='/apis/features-and-pricing'>Sign up for the API now »</a> 
</p> 
</div> 
</div> 
</div> 
</div> 
<div class='span-6 nicebuttons'> 
<span class='right'> 
<a class='button' href='/apis/features-and-pricing'> 
Sign up now to access our API
</a> 
</span> 
</div> 
<br class='clear' /> 
<h2> 
Featured APIs
(<a href="/search?dataset_type=api&amp;query=&amp;view=list">Browse all APIs</a>)
</h2> 
<div class='span-24 last api-features'> 
<div class='datasets'> 
 
<div class='listing'> 
<article class='api-and-paid border-radius dataset grid listing span-6' id='dataset_15999'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/twitter-census-trst-rank">Twitter Census: Trst Rank</a> 
</h2> 
<div class='desc'> 
Trstrank The Infochimps Trstrank measures how important a Twitter user is. It’s a sophisticated network measure of centrality, not just a count of the number of followers a user has. It ranges between 0 and 10 and is logarithmically distributed ...
</div> 
</header> 
<a href='/apis/features-and-pricing'> 
<div class='box-link-half-right'></div> 
</a> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
<span class='paid'> 
$1,000.00
</span> 
</div> 
</div> 
</article> 
 
</div> 
<div class='listing'> 
<article class='api border-radius dataset grid listing span-6' id='dataset_16829'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/twitter-people-search">Twitter People Search</a> 
</h2> 
<div class='desc'> 
Twitter people search! Full text search on any or all fields of Twitter user profiles.
</div> 
</header> 
<a href='/apis/features-and-pricing' onclick="_gaq.push(['_trackEvent', 'special_pages/apis', 'Sign up for API', 'twitter-people-search']);"> 
<div class='box-link'></div> 
</a> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
</div> 
</div> 
</article> 
 
</div> 
<div class='listing'> 
<article class='api border-radius dataset grid listing span-6' id='dataset_19398'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/twitter-screen-name-autocomplete">Twitter Screen Name Autocomplete</a> 
</h2> 
<div class='desc'> 
Uses the same type of autocomplete that the Twitter iPhone app uses. Given a twitter screen name prefix returns up to 100 possible screen name completions sorted by trstrank.
</div> 
</header> 
<a href='/apis/features-and-pricing' onclick="_gaq.push(['_trackEvent', 'special_pages/apis', 'Sign up for API', 'twitter-screen-name-autocomplete']);"> 
<div class='box-link'></div> 
</a> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
</div> 
</div> 
</article> 
 
</div> 
<div class='listing'> 
<article class='api border-radius dataset grid last listing span-6' id='dataset_19457'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/digital-element-ip-intelligence-domains">Digital Element IP Intelligence Domains</a> 
</h2> 
<div class='desc'> 
See which domain this IP address is served from. Digital Element is the premier supplier for IP geolocation data. Their data is used by a number of large internet companies, including Ask.com, AOL, and ...
</div> 
</header> 
<a href='/apis/features-and-pricing' onclick="_gaq.push(['_trackEvent', 'special_pages/apis', 'Sign up for API', 'digital-element-ip-intelligence-domains']);"> 
<div class='box-link'></div> 
</a> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
</div> 
</div> 
</article> 
 
</div> 
<div class='listing'> 
<article class='api border-radius dataset grid listing span-6' id='dataset_19399'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/twitter-graph-metrics-stronglinks">Twitter Graph Metrics: StrongLinks</a> 
</h2> 
<div class='desc'> 
Given a single twitter user identifier returns an array of up to 100 of their strongest connections.
</div> 
</header> 
<a href='/apis/features-and-pricing' onclick="_gaq.push(['_trackEvent', 'special_pages/apis', 'Sign up for API', 'twitter-graph-metrics-stronglinks']);"> 
<div class='box-link'></div> 
</a> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
</div> 
</div> 
</article> 
 
</div> 
<div class='listing'> 
<article class='api border-radius dataset grid listing span-6' id='dataset_19456'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/digital-element-ip-intelligence-geolocation">Digital Element IP Intelligence Geolocation</a> 
</h2> 
<div class='desc'> 
Find a wealth of information about the geolocation of this person’s IP.  Digital Element is the premier supplier for IP geolocation data. Their data is used by a number of large internet companies, ...
</div> 
</header> 
<a href='/apis/features-and-pricing' onclick="_gaq.push(['_trackEvent', 'special_pages/apis', 'Sign up for API', 'digital-element-ip-intelligence-geolocation']);"> 
<div class='box-link'></div> 
</a> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
</div> 
</div> 
</article> 
 
</div> 
<div class='listing'> 
<article class='api border-radius dataset grid listing span-6' id='dataset_16746'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/word-frequencies-from-the-british-national-corpus">Word Frequencies From the British National Corpus</a> 
</h2> 
<div class='desc'> 
The British National Corpus (BNC) is a 100-million-word text corpus of samples of written and spoken English from a wide range of sources. It was compiled as a general corpus (collection of texts) in the ...
</div> 
</header> 
<a href='/apis/features-and-pricing' onclick="_gaq.push(['_trackEvent', 'special_pages/apis', 'Sign up for API', 'word-frequencies-from-the-british-national-corpus']);"> 
<div class='box-link'></div> 
</a> 
          <form action="/download_tokens" class="new_download_token" id="new_download_token" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="Js5JO8bxKUozHmH4GRGB1UsWsDpiJx/kfYQ4Gxkjd7w=" /></div> 
<input id="download_token_package_id" name="download_token[package_id]" type="hidden" value="21904" /> 
<a href='#' onclick="$(this).parents('form:first').submit();_gaq.push(['_trackEvent', 'special_pages/apis', 'Download', 'word-frequencies-from-the-british-national-corpus']);"> 
<div class='box-link'></div> 
</a> 
            </form> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
</div> 
</div> 
</article> 
 
</div> 
<div class='listing'> 
<article class='api border-radius dataset grid last listing span-6' id='dataset_19458'> 
<div class='listing-container'> 
<div class=''> 
<header class=''> 
<h2> 
<a href="/datasets/digital-element-ip-intelligence-demographics">Digital Element IP Intelligence Demographics</a> 
</h2> 
<div class='desc'> 
See breakdowns of your visitors based on the neighborhood they live in. Digital Element is the premier supplier for IP geolocation data. Their data is used by a number of large internet companies, including ...
</div> 
</header> 
<a href='/apis/features-and-pricing' onclick="_gaq.push(['_trackEvent', 'special_pages/apis', 'Sign up for API', 'digital-element-ip-intelligence-demographics']);"> 
<div class='box-link'></div> 
</a> 
</div> 
<div class='bottom'> 
<span class='api'> 
API
</span> 
</div> 
</div> 
</article> 
 
</div> 
</div> 
</div> 
<br class='clear' /> 
<div class='span-24 last'> 
<h2>Get started using the API</h2> 
<p> 
Check out our
<a href='/apis/tutorial'>Quickstart Tutorial</a> 
and
<a href='/apis/code-examples'>Code Examples</a>.
Or, see <a href="/apis/powered-by">who is using the Infochimps API</a>.
</p> 
</div> 
 
